/* Styles for the write review container */
  .write-review-text {
    padding-top: 5%;
    color: #850E35;
    text-align: center;
  }

  .ql-toolbar {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  /* Style the editor container */
  .ql-container {
    border: 1px solid #ccc;
    background-color: #fff;
    min-height: 100%;;
  }
  
  /* Style the placeholder text */
  .ql-editor::before {
    content: attr(placeholder);
    color: #aaa;
    font-style: italic;
  }
  
  /* Style the select dropdown for rating */
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    text-align: center;
  }
    
  /* Style the character count message */
.char-count {
  font-size: 12px;
  margin-top: 4px;
}

.quill-container {
  padding-top: 5%;
  resize: none;
  overflow-y: auto;
  max-height: 50%;
  min-width: 50%;
  text-align: center;
}

.submit-review {
  padding-top: 2%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

  /* Styles for the add review button */
  .add-review-button {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #FFF5E4;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
  }
  
  /* Styles for the reviews box */
  .reviews-box {
    display: flex;
  }
  
  /* Styles for individual review containers */
  .reviews-container {
    background-color: #630000;
    border-radius: 8px;
    padding: 1.2rem;
    line-height: 1.5;
    margin: 0 10px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
  }
  
  .reviews-container p {
    color: #FFF5E4;
  }

  .review-title {
    color: #FFF5E4;
  }
  
  /* Styles for error message */
  .error-message {
    margin: 1rem;
    text-align: center;
    color: #ff0000;
    font-weight: 900;
  }
  
  /* Styles for character count */
  .char-count {
    margin: 1rem;
    text-align: center;
    color: #630000;
    font-weight: bold;
  }
  
  /* Styles for average ratings */
  .average-ratings {
    text-align: center;
    font-size: 2rem;
    color: #630000;
    font-weight: bold;
  }
  