/* Styling for the container of the login form */
.login-container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5E4;
}

/* Styling for the login box */
.login-box {
    background-color: #f5edde;
    padding: 30px;  
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 350px;  
}

/* Styling for form input elements */
.form-control {
    padding: 12px;  
    border-radius: 4px;
    border: 1px solid #FFF5E4;
    margin-bottom: 20px;  
    font-size: 16px;  
}

/* Styling for labels within the login box */
.login-box label {
    display: block;
    margin-bottom: 8px;  
    color: #850E35;  
    font-weight: bold;  
}

/* Styling for the primary button */
.btn-primary {
    background-color: #E76161;  
    border: none;
    padding: 12px 24px;  
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #FFF5E4;  
}

/* Styling for the primary button on hover */
.btn-primary:hover {
    background-color: #aa5154; 
}

/* Styling for text indicating errors or warnings */
.text-danger {
    font-weight: bold;
    color: #850E35;  
}

/* Styling for the last form group to remove margin at the bottom */
.form-group:last-child {
    margin-bottom: 0;
}

/* Styling for the heading within the login box */
.login-box h1 {
    color: #850E35;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
}
