.login-container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5E4;
}

.login-box {
    background-color: #f5edde;
    padding: 30px;  
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 350px;  
}

.form-control {
    padding: 12px;  
    border-radius: 4px;
    border: 1px solid #FFF5E4;
    margin-bottom: 20px;  
    font-size: 16px;  
}


.login-box label {
    display: block;
    margin-bottom: 8px;  
    color: #850E35;  
    font-weight: bold;  
}

.btn-primary {
    background-color: #E76161;  
    border: none;
    padding: 12px 24px;  
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #FFF5E4;  
}

.btn-primary:hover {
    background-color: #aa5154; 
}

.text-danger {
    font-weight: bold;
    color: #850E35;  
}

.form-group:last-child {
    margin-bottom: 0;
}

.login-box h1 {
    color: #850E35;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
}
